<% flash.each do |flash_type, message| %>
  <div class="flash__message" style="font-size: var(--font-size-s);
    color: var(--color-white);
    padding: var(--space-xs) var(--space-m);
    background-color: var(--color-dark);
    animation: appear-then-fade 4s both;
    border-radius: 999px;">
    <%= message %>
  </div>
<% end %>